body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9; 
    color: #333; 
}

header {
    background-color: #005cbf; 
    color: #fff;
    text-align: center;
    padding: 2em 0;
}

header h1 {
    font-size: 2.5em;
    color: #fff;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
    color: #ecf0f1;
}

nav {
    background-color: #005cbf; 
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #4caf50; 
}

#main-content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    color: #333; 
}

footer {
    background-color: #005cbf; 
    color: #fff;
    text-align: center;
    padding: 1em 0;
}